name: protein_tracker

services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.prod
    ports:
      - "8001:8000"
    depends_on:
      - redis
    command: ["bash", "scripts/start_api.sh"]
    restart: unless-stopped
