name: protein_tracker

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.prod
    ports:
      - "8001:8000"
    command: ["bash", "scripts/start_api.sh"]
    restart: unless-stopped
